.App {
    }  
  .App-header {
    background-color: forestgreen;
    padding-top: 40px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(26px + 2vmin);
    font-family: serif;
    color: white
  }  