.App {
    text-align: center;
    background: forestgreen;
  }  
  .App-header {
    background-color: forestgreen;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    color: white;
  }  